<!-- <h1>QuestionsController#answer</h1>
<p>Find me in app/views/questions_controller/answer.html.erb</p> -->
<p><%= @response %></p>
<p> <%= @answer %></p>
<%= link_to "Ask a new question", ask_path%>
